<h1>
  All About Sean
</h1>
<p style='font-size: 100px'><font face="arial">
  I am Sean Yu. Originally from the Philippines, I am currently a junior majoring in Economics at the University of California, Berkeley. Last summer, I worked as an Investment Banking Intern with Macquarie Capital and a Corporate Strategy Intern with Ayala Corporation. 
</p></font>

<a href="https://www.linkedin.com/in/seanjcyu/">LinkedIn</a>
<br>
<%= link_to "Home",root_path %>