<h1 style='font-size: 100px'> <font face="arial">
  Sean Yu's Website
</h1></font>

<img src="http://motivationalwall.com/wp-content/uploads/2016/04/get-shit-done.jpg">

<%= link_to 'About', about_path %>